@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.cl-cardBox {
  box-shadow: none !important;
}

.cl-socialButtonsBlockButton {
  border-color: gray !important;
  border-width: 0.25px !important;
}

.cl-formFieldInput {
  border: solid;
  border-color: gray !important;
  border-width: 0.25px !important;
  box-shadow: none !important;
}

.cl-formButtonPrimary {
  margin-top: 5px;
  margin-bottom: 5px;
}